<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.software.leanback" android:required="false" />

    <!-- Om SmartTube te kunnen vinden en openen vanaf de kaart "Sfeerlijst". -->
    <queries>
        <package android:name="com.liskovsoft.smarttubetv.beta" />
        <package android:name="com.liskovsoft.smarttubetv" />
        <package android:name="org.smartteam.smarttube.beta" />
        <package android:name="org.smartteam.smarttube" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="www.youtube.com" />
        </intent>
    </queries>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:name=".BisApp"
        android:allowBackup="false"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Bis">

        <!-- Het keuzescherm, vanaf het startscherm van de tv. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreviewActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".AmbientActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".PhotosActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <!-- Ontvangt de Google-sleutels vanaf de Mac via het installatiescript. -->
        <activity
            android:name=".SetupActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Geeft de app inzage in wat er speelt (Spotify), na toestemming via het script. -->
        <service
            android:name=".MediaListener"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- De eigenlijke screensaver. -->
        <service
            android:name=".ScreenSaverDream"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream" />
        </service>
    </application>
</manifest>
